@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 23, 60;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 19, 23, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 191, 191, 191;
    --background-start-rgb: 19, 23, 60;
    --background-end-rgb: 19, 23, 60;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
