@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 23, 60;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 19, 23, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 191, 191, 191;
    --background-start-rgb: 19, 23, 60;
    --background-end-rgb: 19, 23, 60;
  }
}

/*background: linear-gradient(180deg, rgba(59,54,111,1) 0%, rgba(29,33,64,1) 100%);*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(29,33,64,1)
    )
  rgba(59,54,111,1);
}
